*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li{
  list-style: none;
}

body{
  height: 100vh;
  background: #000000 url('../img/background.jpg') repeat;
  font-family: $font-orbitron;
  letter-spacing: 1px;
  font-size: 16px;
}
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/ps-logo.gif) center no-repeat #000000;
}